<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/queries.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
        <div class="header">
          <p class="app-name">Voting App<p>
          <ul class="nav">
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/create">Create Poll</a></li>
            <li><a href="/users">Voting App Users</a></li>
            <li><a href="/my-polls">My Polls</a></li>
            <li><a href="/" class="current">Home</a></li>
          </ul>
          <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
        <h1 class="text-box">View polls.<br>Share your opinion.<br>Create your own polls.</h1>
    </header>
    <div class="row">
      <div class="col span-1-of-2">
        <i class="ion-ios-person-outline icon-big"></i>
        <h2>Voting App Users</h2>
        <ul id="users" class="list">
        <% for (i = 0; i < users.length; i++) {%>
          <li><a href="/polls/<%= users[i]['username'] %>"><%= users[i]['username'] %></a></li>
        <% } %>
        </ul>
      </div>
      <div class="col span-1-of-2">
        <i class="ion-ios-pie-outline icon-big"></i>
        <h2>Recent Polls</h2>
        <ul id="recent-polls" class="list">
        <% for (i = 0; i < docs.length; i++) {%>
          <li><a href="/poll/<%= docs[i]['_id'] %>"><%= docs[i]['title'] %></a></li>
        <% } %>
        </ul>
      </div>
    </div>
    <script src="/nav.js"></script>
  </body>
</html>
