<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App<p>
      <ul class="nav">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
    <h3 align="center">View and vote on recent polls,<br>click on a user to view and vote on their polls,<br>or sign up to create your own polls!</h3>
    <div class="section row">
      <div class="col span-1-of-2">
        <h2 align="center">Voting App Users</h2>
        <ul id="users" class="list">
        <% for (i = 0; i < users.length; i++) {%>
          <li><a href="polls/<%= users[i]['username'] %>"><%= users[i]['username'] %></a></li>
        <% } %>
        </ul>
      </div>
      <div class="col span-1-of-2">
        <h2 align="center">Recent Polls</h2>
        <ul id="recent-polls" class="list">
        <% for (i = 0; i < docs.length; i++) {%>
          <li><a href="/poll/<%= docs[i]['_id'] %>"><%= docs[i]['title'] %></a></li>
        <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
