<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://use.fontawesome.com/752c8c0229.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App</p>
      <ul class="nav">
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/create">Create Poll</a></li>
        <li><a href="/users">Voting App Users</a></li>
      </ul>
    </div>
    <h2>My Polls</h2>
    <ul id="my-polls" class="list">
    <% for (i = 0; i < docs.length; i++) {%>
      <li><a href="/auth/poll/<%= docs[i]['id'] %>"><%= docs[i]['title'] %>  </a><a id="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
    <% } %>
    </ul>
    <script src="delete.js"></script>
  </body>
</html>
