<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <ul class="nav">
        <p class="app-name">Voting App</p>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/create">Create Poll</a></li>
        <li><a href="/my-polls">My Polls</a></li>
        <li><a href="/users">Voting App Users</a></li>
      </ul>
    </div>
    <h3>Congratulations!<br>You've created a new poll: <%= title %></h3>
    <p>This poll is posted at<br><a href="<%= route %>"><%= url %></a></p>
  </body>
</html>
