<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/queries.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App</p>
      <ul class="nav">
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/create">Create Poll</a></li>
        <li><a href="/users" class="current">Voting App Users</a></li>
        <li><a href="/my-polls">My Polls</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
    <div class="section row">
        <div class="col span-1-of-2 card">
            <h2>Voting App Users</h2>
            <ul id="users" class="list">
            <% for (i = 0; i < docs.length; i++) {%>
              <li><a href="/polls/<%= docs[i]['username'] %>"><%= docs[i]['username'] %></a></li>
            <% } %>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <i class="ion-ios-people icon-huge"></i>
        </div>
    </div>
    <script src="/nav.js"></script>
  </body>
</html>
