<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App</p>
      <ul class="nav">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <h2><%= creator %></h2>
    <ul id="user-polls" class="list">
    <% for (i = 0; i < docs.length; i++) {%>
      <li><a href="/poll/<%= docs[i]['_id'] %>"><%= docs[i]['title'] %></a></li>
    <% } %>
    </ul>
  </body>
</html>
