<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/queries.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p class="app-name">Voting App</p>
      <ul class="nav">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <a class="mobile-nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
    <div class="section row">
        <div class="col span-1-of-2 card">
            <h2><%= creator %></h2>
            <% if (typeof docs === 'string') {%>
            <p><%= docs %></p>
            <% } else {%>
            <ul id="user-polls" class="list">
            <% for (i = 0; i < docs.length; i++) {%>
              <li><a href="/poll/<%= docs[i]['_id'] %>"><%= docs[i]['title'] %></a></li>
            <% } %>
            </ul>
            <% } %>
        </div>
        <div class="col span-1-of-2">
            <i class="ion-ios-pie icon-huge"></i>
        </div>
    </div>
    <script src="/nav.js"></script>
  </body>
</html>
