/*Basic Setup*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*Reusable Components*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.section {
    margin-top: 150px;
}

.align {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 300px;
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.gray-background {
    background-color: #eaeaea;
    margin: 0;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.centered {
    text-align: center;
}

.card {
    padding: 30px;
    box-shadow: 2px 2px 2px 2px #eaeaea;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    background-color: #fff;
}

p {
    font-size: 90%;
    line-height: 125%;
}


/*Headings*/
h1, 
h2,
h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px; 
    line-height: 150%;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    /*text-align: center;*/
    margin-bottom: 20px;
    margin-left: 45px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    line-height: 150%;
}

/*h2:after {
    display: block;
    height: 2px;
    background-color: #1abc9c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}*/

/*Header*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(avel-chuklanov-38687.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(avel-chuklanov-38687.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header {
    background-color: rgba(26, 188, 156, 0.98);
    display: block;
    padding: 30px 0 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.app-name {
  float: left;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100%;
  padding: 20px;
  margin-top: -30px;
}
.nav li {
  float: right;
  list-style: none;
  padding: 20px;
  display: inline-block;
  margin-top: -30px;
}

.nav li a:link,
.nav li a:visited {
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  border-bottom: 2px solid #fff transparent;
  transition: border-bottom 0.2s;
}

.nav li a:hover,
.nav li a:active,
.current {
  border-bottom: 2px solid #fff;
}

.text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    right: 30px;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/*Lists*/
.list li {
 /* border: 1px solid #1abc9c;
  border-collapse: collapse; */
  margin: 0 40px;
  padding: 10px;
  list-style: none;
  /*text-align: center;*/
}
.list li a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 90%;
    word-spacing: 4px;
}
.list li a:hover {
  color: #1abc9c;
}
ul li {
  list-style: none;
}

#users li {
    text-align: justify;
}

/*Forms*/
.form {
  width: 200px;
  margin: 200px auto;
}
.form li {
  margin-bottom: 20px;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1 solid #ccc;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 100%;
}

#warning {
    font-size: 90%;
}

*:focus {outline: none;}

.poll li {
    margin-left: 45px;
    margin-top: 40px;
}

.poll input[type=text] {
    margin-top: 20px;
    margin-left: 45px;
    width: 40%;
}

.poll input[type=radio] {
    margin-right: 10px;
    transform: scale(1.5);
}



/*Buttons*/
button {
    font-size: 110%;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-size: 110%;
    font-weight: 300;
    text-decoration: none;
    background-color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn:hover,
.btn:active {
    background-color: #18ad90;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1abc9c;
     color: #1abc9c;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #18ad90;
     color: #fff;
}
.btn-full:link,
.btn-full:visited {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
    margin-right: 15px;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #18ad90;
}
.btn-submit {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px;
    border: 1px solid #1abc9c;
    margin-top: 40px;
    margin-left: 45px;
    text-align: center;
}
.btn-submit:hover {
    background-color: #18ad90;
    border: 1px solid #18ad90;
    margin-top: 40px;
    margin-left: 45px;
}
.add-option:link, 
.add-option:visited {
    border: 1px solid #1abc9c;
    background-color: #fff;
    color: #1abc9c;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 45px;
}
a {
  text-decoration: none;
}
.add-option:hover,
.add-option:active {
  background-color: #18ad90;
  border: 1px solid #18ad90;
  color: #fff;
}

/* ----- ICONS ------ */
.icon-big {
    font-size: 350%;
    display: block;
    color: #1abc9c;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: 30px;
    /*text-align: center;*/
}

.icon-huge {
    font-size: 2000%;
    display: block;
    color: #eaeaea;
    text-align: center;
}

/*Create page*/
.create-background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(ilya-pavlov-87472.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(ilya-pavlov-87472.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;  
}

.create-form {
    background-color: #fff;
    padding: 45px;
    float: right;
    box-shadow: 2px 1px 2px 2px #eaeaea;
    border-left: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-right: 5%;
}

