/*Basic Setup*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*Header*/
.header {
  background-color: rgba(9, 199, 120, 0.8);
  display: block;
  padding: 30px;
}
.app-name {
  float: left;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  padding: 20px;
  margin-top: -30px;
}
.nav li {
  float: right;
  list-style: none;
  padding: 20px;
  display: inline-block;
  margin-top: -30px;
}
.nav li a:link,
.nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #fff transparent;
  transition: border-bottom 0.2s;
}

.nav li a:hover,
.nav li a:active {
  border-bottom: 2px solid #fff;
}


/*Headings*/
h1 {
  font-size: 200%;
  color: rgb(9, 199, 120);
}

h2 {
  color: white;
  background-color: rgb(9, 199, 120);
  text-transform: uppercase;
  margin: 40px 40px 0 40px;
  padding: 10px;
  font-weight: 200;
}
h3 {
  margin-top: 40px;
  line-height: 40px;
}

/*Lists*/
.list li {
  border: 1px solid rgb(9, 199, 120);
  border-collapse: collapse;
  margin: 0 40px;
  padding: 10px;
  list-style: none;
  text-align: center;
}
.list li a {
  text-decoration: none;
  color: #555;
}
.list li a:hover {
  color: rgb(9, 199, 120);
}
ul li {
  list-style: none;
}

/*Forms*/
.form {
  width: 200px;
  margin: 60px auto;
}
.form li {
  margin-bottom: 20px;
}
input {
  margin-bottom: 40px;
}

/*Buttons*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s. border 0.2s, color 0.2s;
}
.btn:hover,
.btn:active {
    background-color: rgb(9, 199, 120);
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(9, 199, 120);
     color: rgb(9, 199, 120);
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgb(9, 199, 120);
     color: #fff;
}
.btn-full:link,
.btn-full:visited {
    background-color: rgb(9, 199, 120);
    border: 1px solid rgb(9, 199, 120);
    color: #fff;
    margin-right: 15px;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(9, 199, 120);
}
.btn-submit {
  background-color: rgba(9, 199, 120, 0.8);
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(9, 199, 120, 0.8);
  font-size: 100%;
  margin-top: 40px;
}
.btn-submit:hover {
  background-color: rgba(9, 199, 120, 0.9);
  border: 1px solid rgba(9, 199, 120, 0.9);
  margin-top: 40px;
}
.add-option {
  border: 1px solid rgba(9, 199, 120, 0.9);
  color: rgb(9, 199, 120);
  padding: 10px;
  font-size: 100%;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
.add-option:hover {
  background-color: rgba(9, 199, 120, 0.9);
  border: 1px solid rgba(9, 199, 120, 0.9);
  color: #fff;
}
